.nav {
  flex: 1;

  &--check {
    display: none;
  }

  &--button {
    display: none;
  }

  &--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &--items {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 1.5rem;
    font-weight: 500;
  }

  &--list {
    list-style-type: none;
  }

  &--links {
    font-size: 1.8rem;
    color: $violet;
    text-decoration: none;
    text-transform: capitalize;
    &:hover,
    &:active {
      color: $darkViolet;
    }
  }

  @include respond(md) {
    &--button {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      height: 8rem;
      cursor: pointer;
      z-index: 2000;
    }

    &--box {
      flex-direction: column;
      position: fixed;
      top: 8rem;
      left: 2rem;
      width: 0;
      opacity: 0;
      padding: 4.5rem 0;
      background-color: $darkViolet;
      z-index: 2500;
      transition: all 0.1s ease-out;
    }

    &--items {
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      padding: 0;
      padding-bottom: 3rem;
    }

    &--list {
      text-align: center;
      height: 3.5rem;
    }

    &--links {
      color: white;
      font-weight: 600;
      font-size: 2.5rem;

      &:hover {
        color: white;
      }
    }

    &--check:checked ~ &--box {
      width: 100%;
      max-width: calc(100% - 4rem);
      margin-right: 2rem;
      opacity: 1;
    }

    &--icon {
      position: relative;
      z-index: 2000;
    }
    &--icon,
    &--icon::before,
    &--icon::after {
      width: 3.8rem;
      height: 0.3rem;
      background-color: #333;
      display: inline-block;
    }
    &--icon::before,
    &--icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.1s;
    }
    &--icon::before {
      top: -1rem;
    }
    &--icon::after {
      top: 1rem;
    }
    &--button:hover &--icon::before {
      top: -1.1rem;
    }
    &--button:hover &--icon::after {
      top: 1.1rem;
    }
    &--check:checked + &--button &--icon {
      background-color: transparent;
    }
    &--check:checked + &--button &--icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    &--check:checked + &--button &--icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
